@import "~uikit/dist/scss/uikit-mixins.scss";
@import "~uikit/dist/scss/uikit-variables.scss";

$dark-primary-color: #FFA000;
$primary-color: #FFC107;
$light-primary-color: #FFECB3;
$accent-color: #2196F3;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;

$base-selection-background: transparent;

$button-primary-background: $dark-primary-color;
$button-primary-hover-background: $primary-color;
$button-primary-active-background: $primary-color;

$form-focus-background: $light-primary-color;

@mixin hook-modal-header {
  h2 {
    border-bottom: 2px solid $primary-color;
  }
}

$navbar-background: $accent-color;
$navbar-color: #FFF;

$panel-box-primary-background: $accent-color;
$panel-box-primary-color: #FFF;

$progress-bar-background: $primary-color;

@import "~uikit/dist/scss/core/base.scss";
@import "~uikit/dist/scss/core/button.scss";
@import "~uikit/dist/scss/core/form.scss";
@import "~uikit/dist/scss/core/grid.scss";
@import "~uikit/dist/scss/core/modal.scss";
@import "~uikit/dist/scss/core/navbar.scss";
@import "~uikit/dist/scss/core/panel.scss";
@import "~uikit/dist/scss/core/text.scss";
@import "~uikit/dist/scss/core/utility.scss";

@import "~uikit/dist/scss/components/progress.scss";

html, body, #app {
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.uk-navbar {
  -webkit-app-region: drag;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none; // You should add some other style for :focus to help UX/a11y
}

.timers {
  flex: 1;
  overflow-y: scroll;
}

.timer {
  margin: 20px 0;
}

.time {
  height: 30px;
  padding: 3px 0;
}

.uk-modal {
  display: flex;

  &-dialog {
    flex: 1;
    margin: auto;
  }
}
